.navbar {
    background-color: transparent;
    box-shadow: 0px 1px 20px #eaeaea;
    transition: background-color 1s ease 0s;
}

.navbar.solid {
    transition: background-color 1s ease 0s;
}

.card-text {
    font-size: 0.8em;
}

footer p, footer a {
    font-size: 0.8em;
    color: #ccc;
}

.gold-star {
    color: gold;
}

.black-star {
    color: #ccc;
}

.shop-cart {
    font-size: 0.7em;
    background-color:royalblue;
    border-radius: 8px;
    padding: 3px 8px;
}
